[Desktop Entry]
Version=0.1.1
Name=Stickies
GenericName=Stickies
Comment=Neat sticky notes
Categories=Accessories;Office;
Exec=com.github.aboudzakaria.stickies
Icon=com.github.aboudzakaria.stickies
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.aboudzakaria.stickies
Keywords=stickies;sticky;note;